.promo {
  background-color: #073042;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
}

.promo__container {
  max-width: 730px;
  width: 100%;
  padding: 102px 0px 102px;
  margin: 82px auto 122px;
  box-sizing: border-box;
  background: no-repeat center url("../../images/landing-logo.svg");
}
.promo__navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: black;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 66px;
}
.promo__link {
 color: white;
 font-weight: 500;
 font-size: 13px;
 line-height: 16px;
}
.promo__navigation_item {
  text-decoration: none;
  padding: 0;
  margin: 0;

}

.promo__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0;
  width: 100%;
  color: white;
}

@media screen and (max-width: 900px) {
  .promo__container {
    margin: 224px auto 240px;
  }
}

@media screen and (max-width: 675px) {
  .promo__container {
    margin: 142px auto 180px;
    background-size: 248px 248px;
    padding: 65px 0px 65px;
    min-height: 248px;
  }
  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }
}
